{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cotisation</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'addons/datatables.min.css' %}">
</head>
<body id="wrapper">
    {% include 'navbar0.html' %}
    <div id="content-wrapper">
        <div class="card shadow-sm rounded-0 mt-3 mx-5">
            <div class="card-header">
                <h3>Stock des Produits</h3>
            </div>
            <div class="card-body">
                {% include 'message.html' %}
                    <a href="{% url 'caisse_save' %}" class="btn btn-primary rounded-0 mb-2" title="Pour enregistrer un produit dans le stock">
                        <i class="fa fa-plus"></i>
                         Ajouter
                    </a>
                    <table class="table table-responsive-lg table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Nom du produit</th>
                                <th>Quantité</th>
                                <th>Prix total</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for produit in list %}
                            <tr>
                                <td>
                                    <a href="" class="btn btn-sm btn-warning" title="Modifier">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'modal.js' %}"></script>
    <script>
        $(document).ready(function(){
           $("#alert").animate({
            opacity: 1,
            }, 2000, function() {
                $("#alert").delay(10000).fadeOut();
            });
        });
    </script>
</html>