{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inventaire</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'addons/datatables.min.css' %}">
</head>
<body id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper">
        <div class="card shadow-sm rounded-0 rounded-0 mt-3 mx-5">
            <div class="card-header">
                <h3>Liste Produit Ajouter</h3>
            </div>
            <div class="card-body">
                {% include 'message.html' %}
                <div class="d-flex justify-content-between mb-2">
                    <a href="{% url 'ajouter_inventaire' %}" class="btn btn-primary rounded-0">Ajouter</a>
                    <button class="btn btn-danger rounded-0" id="supp_tout" type="button">
                        <i class="fa fa-trash-alt"></i>
                        Tout Supp.
                    </button>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <p>
                        Stock Restant( {{ date_restant }} ): <strong>{{ total_restant }} Ar</strong>
                    </p>
                    {% if trop %}
                        <p class="text-danger">
                            Le Stock Restant est inférieur <strong>{{ trop }} Ar</strong> à l'Inventaire
                        </p>
                    {% endif %}
                    {% if egal %}
                        <p class="text-primary">
                            Le Stock Restant et l'Inventaire sont de même Valeur !
                        </p>
                    {% endif %}
                    <p>
                        Total Inventaire : <strong>{{ total_inve }} Ar</strong>
                    </p>
                    {% if manque %}
                        <p class="text-danger">
                            Le Stock Restant est superieur <strong>{{ manque }} Ar</strong> à l'Inventaire
                        </p>
                    {% endif %}
                    <p>
                        Stock Maintenant : <strong>{{ stock }} Ar</strong>
                    </p>
                </div>
                <table class="table table-bordered table-responsive-lg">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom du produit</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Date d'enregistrement</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in inventaire %}
                        <tr>
                            <td>{{ row.id_inventaire }}</td>
                            <td>{{ row.produit.nom_produit }}</td>
                            <td>{{ row.nb_produit }}</td>
                            <td>{{ row.total_prix }} Ar</td>
                            <td>{{ row.date_inventaire }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                    <button type="button" class= "close" data-dismiss= "modal" aria-label= "Fermer">
                        <span>×</span>
                    </button>
                </div>
                <div class= "modal-body">
                    Êtes-vous sûr de vouloir supprimer tous les éléments?
                </div>
                <div class= "modal-footer">
                    <button type= "button" class= "btn btn-secondary" data-dismiss= "modal">Annuler</button>
                    <a href="{% url 'supp_tout' %}" class= "btn btn-danger" id= "confirm-delete">Supprimer tout</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modal.js' %}"></script>
    <script>
        $(document).ready(function(){
            $("#alert").animate({
               opacity: 1,
            }, 2000, function() {
               $("#alert").delay(10000).fadeOut();
            });
            $('#supp_tout').click(function(){
               $('#deleteModal').modal('show');
            });
        });
    </script>
</body>
</html>