{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier | {{ stock.produit.nom_produit }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body class="d-flex justify-content-center align-content-center bg-light">
    <div class="card shadow rounded-0 border-0">
        <div class="card-header border-0 text-center">
            <h1>Modifier | {{ stock.produit.nom_produit }}</h1>
        </div>
        <div class="card-body">
            <div class="px-5">
                {% include 'message.html' %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label for="quantite_produit">Quantité ({{ stock.produit.categorie.nom_categorie }})</label>
                        <input type="text" name="quantite_produit" class="form-control rounded-0" value="{{ stock.quantite_stock }}" pattern="[0-9.]+" required>
                    </div>
                    <div class="row mt-3">
                        <button class="btn btn-primary rounded-0" type="submit">Enregistrer</button>
                        <a href="{% url 'stock_produit' %}" class="btn btn-danger rounded-0 mx-4">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modal.js' %}"></script>
    <script>
        $(document).ready(function(){
           $("#alert").animate({
            opacity: 1,
            }, 2000, function() {
                $("#alert").delay(10000).fadeOut();
            });
        });
    </script>
</body>
</html>