{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remboursements</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'addons/datatables.min.css' %}">
    
</head>
<body id="wrapper">
    {% include 'navbar0.html' %}
    <a href="{% url 'pret' %}" class="btn btn-link position-relative" style="top: 10px; left: 50px; z-index: 1031;">
        <i class="fas fa-arrow-left fa-2x"></i>
    </a>
    <div id="content-wrapper">
        <div class="card shadow-sm rounded-0 rounded-0 mt-3 mx-5">
            <div class="card-header">
                <h3>Remboursements de {{ nom_membre }} {% if montant_rembouresser != 0 %} - Reste à payer : {{montant_rembouresser|floatformat:0 }}ar {% endif %}</h3>
            </div>
            <div class="card-body">
                {% include 'message.html' %} 
                <form action="" method="get">
                    {% csrf_token %}
                    {% if montant_rembouresser != 0  %}
                    <a href="{%url 'rembourser_save' pk=current_pk  %}" class="btn btn-primary rounded-0 mb-2" id="btn-ajout">
                        <i class="fa fa-plus"></i>
                        Ajouter
                    </a>
                 {% endif %}
                <table class="table table-bordered table-responsive-lg">
                    <thead class=" bg-primary text-light">
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>date remboursement</th>
                            <th>Montant remboursé</th>
                            <th>Reste à payé</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rembours in rembourser %}
                        <tr>
                            <td>{{ rembours.id_membre.nom_membre }}</td>
                            <td>{{ rembours.id_membre.prenom_membre }}</td>
                            <td>{{ rembours.date_rembours }}</td>
                            <td>{{ rembours.montant_rembours|floatformat:0}}</td>
                            <td>{{ rembours.reste_paye|floatformat:0 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sweetAlert2.js' %}"></script>

    <script>
        $(document).ready(function(){
           $("#alert").animate({
            opacity: 1,
            }, 2000, function() {
                $("#alert").delay(10000).fadeOut();
            });
        });
    </script>
</body>
</html>