{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Total / Jour</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'addons/datatables.min.css' %}">
</head>
<body id="wrapper">
    {% include 'navbar.html' %}
    <div id="content-wrapper">
        <div class="card shadow-sm rounded-0 rounded-0 mt-3 mx-5">
            <div class="card-header">
                <h3>List Total par Jour</h3>
            </div>
            <div class="card-body">
                {% include 'message.html' %}
                {% if request.user.is_superuser %}
                <form action="{% url 'supp_total' %}" method="get">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between mb-2">
                        <button class="btn btn-danger rounded-0" type="submit">
                            <i class="fa fa-trash-alt"></i>
                            Supp.
                        </button>
                    </div>
                {% endif %}
                    <table class="table table-bordered table-responsive-lg">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Total</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for list in total %}
                            <tr>
                                <td><input type="checkbox" class="form-control-range" name="total_select" value="{{ list.id_total }}"></td>
                                <td>{{ list.id_total }}</td>
                                <td>{{ list.total }} Ar</td>
                                <td>{{ list.date_total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/datatables.js' %}"></script>
    <script type="text/javascript" src="{% static 'modal.js' %}"></script>
</body>
</html>